.container {
    max-width: 1320px;
    min-width: 1000px;
    margin: 0 auto;
}
 
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
 
button {
    background-color: $main-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}